<div id="password-help">
    <input type="checkbox" name="show_password" id="show-password">
    <label for="show-password">show password</label>
    <input type="checkbox" name="show_tooltip" id="show-tooltip">
    <label for="show-tooltip">show infotip</label>
    <div id="password-tooltip">
        Password may contain characters from each of the following
        four categories:<br>
        1. <span>Uppercase letters:</span> A, B, C, ...<br>
        2. <span>Lowercase letters:</span> a, b, c, ...<br>
        3. <span>Numbers:</span> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9<br>
        4. <span>Symbols:</span> ! @ # $ % &<br>
    </div>
</div>
